:root{
  --sidebar-width: 300px;
}

.page-wrapper {
  display: flex;
}

.sidebar {
  width: 248px;
  min-width: 248px;
  max-width: 248px;
  min-height: 100vh;
  flex-shrink: 0;
  background: #060606 !important;
  position: relative;
}

.sidebar {
  transform: scale(1.1);
  transform-origin: top left;
}

.main-content {
  flex: 1;
  min-width: 0;
}



/* LIST */
.sidebar-list{
  display:flex;
  flex-direction:column;
  gap:5px;
  margin-top: -12px;
  padding:0;
  list-style:none;
}

/* ITEM */
.sidebar-item{
  border-radius:5px;
}

/* ROW */
.sidebar-item>a{
  display:flex;
  align-items:center;
  gap:10px;

  height:40px;
  padding:0 12px;

  border-radius:5px;

  font-family:"Satoshi",sans-serif;
  font-size:16px;
  font-weight:500;

  color:#b3b3b3;
  text-decoration:none;
}

/* ICON */
.sidebar-icon{
  width:30px;
  height:30px;
  object-fit:contain;
}

/* TEXT */
.sidebar-item>a span{
  flex:1;
  white-space:nowrap;
}

/* ARROW */
.sidebar-item:nth-child(2)>a::after,
.sidebar-item:nth-child(3)>a::after{
  content:"";
  width:8px;
  height:9px;

  background-image:url("../assets/icons/arrow.png");
  background-size:contain;
  background-repeat:no-repeat;

  margin-left:auto;
}

/* HOVER */
.sidebar-item>a:hover{
  background:#1a1a1a;
}

/* ACTIVE */
.sidebar-item--active>a{
  background:#2a2a2a;
  color:#fff;
}