@use "../base/" as *;

.toggledbar {
  width: 0;
  visibility: hidden;
  overflow: hidden;
  background: $color-bg-primary;
  transition:
    width 0.3s ease,
    visibility 0.3s ease;
  border: 1px solid $color-border;
  &.toggledbar--active {
    width: 450px;
    visibility: visible;
    padding: $spacing-lg;
  }
  .friends-activity {
    @include flex-row(space-between, center);
    padding: 20px;
    background: $color-bg-primary;
    h3 {
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
    }
    .toggled-right {
      @include flex-row(center, center);
      gap: $spacing-sm;
      img {
        width: 42px;
        height: 42px;
        cursor: pointer;
      }
    }
  }
}

.friends-listening {
  @include flex-row(flex-start, center);
  gap: 10px;
  margin-bottom: 20px;
}
.friends-listening .logo {
  width: 40px;
  height: 40px; 
}
.friends-info h5 {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
}
.friends-playlist {
  @include flex-row(flex-start, center);
  gap: $spacing-sm;
  margin-top: $spacing-sm;

}
.friends-playlist span:nth-child(1) {
  font-size: $font-size-md;
  color: $color-text-secondary;
}
.friends-playlist span:nth-child(4){
  font-size: $font-size-sm;
  color: $color-text-secondary;
} 