@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi_complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi_complete/Fonts/OTF/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}